.root{
    display:grid;
    grid-template-columns: .3fr .4fr .3fr;
    grid-template-rows: .16fr .84fr;
    grid-template-areas:
    "menuLeft menuCenter menuRight"
    "contents contents contents"; 
    height:300px;
    width:500px;         
    padding: 5px;     
    border: solid black 2px;
    position: relative;
    }

 

.root.back::after{
    content:"";
    background: url(./indexCard.jpg) ;
    opacity: 0.25;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    position: absolute;
    z-index: -1;
}



.menuLeft{
  grid-area: menuLeft; 
}

.menuCenter{
  grid-area: menuCenter; 
}

.menuRight {
    grid-area: menuRight;
}

.contents {
    grid-area: contents;
    padding: 10px 5px 5px 5px;     
    font-size:1.2em;
    font-weight: 500;
    line-height: 1.6em;
    background-color:transparent;  
}

.contents.back{
    overflow-y:auto;
}

.contents.front:hover{
    cursor: pointer;
}

.btn {
    height: 40px;    
    background-color:transparent;
    border: solid 2px;
    border-radius: 5px;
    font-size: 1.2em;
}

.btn:hover{
    cursor:pointer;
}

.btnDrawAgain {
    color:#6c757d;
    width:140px;
    display:block;
    margin: 0 auto 0 auto;       
    font-size: 1.05em;
}

.btnFail {
     width: 140px;     
     color:red;  
     padding: 0 0 4px 0;   
}

.btnEdit {
    width: 140px;
    display:block;
    margin: 0 auto 0 auto;
    color: #6c757d;
    padding: 0 0 4px 0;
}

.btnPass {
    width: 140px;     
    color: green;
    float:right;    
    padding: 0 0 4px 0;
}

.counter {
    border: solid #6c757d 2px;
    height: 40px;
    width:140px;
    padding: 6px 0 0 3px;
    border-radius:5px;
    color:black;
    font-size: 1.05em;
}

.menuContainer {  
    float:right; 
    margin: 0 0 0 0;   
}

 .menu {
    color:#6c757d !important;
     background-color: transparent!important;
     width: 140px !important;
     border: solid #6c757d 2px !important;
     font-size: 1.05em !important;
 }


.confirmModalText {
    font-size:1.4em;
    margin: 0 0 0 13px;
    
}