.cardOuter {
    width: 500px;
    height: 600px;
    display:block;
    margin: 13px auto 0 auto;
    border: solid black 1px;
}

.createEditCard{
    width: 100%;
    height:250px;       
    margin: 0 0 0 0;
    padding: 10px;   
    border-bottom: solid black 1px;
    font-size: 1.2em;    
}

 .createEditCardHeader {
    width:100%;
    height: 50px;    
    padding: 5px 10px 0 10px;
    border-bottom: solid black 1px;
}

.createEditCardFooter {
    width:100%x;
    height: 50px;     
    padding: 5px 10px 0 10px;
}

.btnModalClose {                
    width: 100%;     
    height: 35px;
    font-size: 4em;         
}

 textarea {     
     width: 100%;
     height: 100%;
 }